<div class="container">

    <form (ngSubmit)="pesquisar()" autocomplete="off">
        <div class="p-grid">
            <div class="p-col-12">
                <h1>Pessoas</h1>
            </div>

            <div class="p-col-12 p-fluid">
                <label>Nome</label>
                <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome">
            </div>

            <div class="p-col-12">
                <p-button type="submit" label="Pesquisar" icon="pi pi-search" iconPos="left"></p-button>
            </div>
        </div>
    </form>

    <div class="p-grid">
        <div class="p-col-12">
            <p-table [value]="pessoas" styleClass="p-datatable-sm p-datatable-striped" [responsive]="true" [loading]="loading"
                    [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
                    #tabela>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Status</th>
                        <th class="col-acoes-header"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-pessoa>
                    <tr>
                        <td>
                            <span class="p-column-title">Nome</span>
                            {{ pessoa.nome }}
                        </td>
                        <td>
                            <span class="p-column-title">Cidade</span>
                            {{ pessoa.endereco.cidade }}
                        </td>
                        <td>
                            <span class="p-column-title">Estado</span>
                            {{ pessoa.endereco.estado }}
                        </td>
                        <td>
                            <span class="p-column-title">Status</span>
                            <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="alternarStatus(pessoa)">
                                <span class="p-tag" [ngClass]="pessoa.ativo ? 'p-tag-success' : 'p-tag-danger'">{{ pessoa.ativo ? 'Ativo' : 'Inativo' }}</span>
                            </a>
                        </td>
                        <td class="col-acoes">
                            <span class="p-column-title"></span>
                            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" class="p-button-danger" (click)="confirmarExclusao(pessoa.codigo)"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">
                            Nenhuma pessoa encontrada
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="p-col-12">
            <a pButton label="Novo Lançamento" icon="pi pi-plus" iconPos="left"></a>
        </div>
    </div>

</div>
