<div class="container">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
            <h1>Lançamentos</h1>
        </div>

        <div class="p-field p-col-12">
            <label>Descrição</label>
            <input type="text" pInputText>
        </div>

        <div class="p-field p-col-12">
            <label class="p-d-block">Vencimento</label>
            <input type="text" pInputText style="width: 100px; margin-right: 10px">

            <label>até</label>
            <input type="text" pInputText style="width: 100px; margin-left: 10px">
        </div>

        <div class="p-field p-col-2">
            <p-button label="Pesquisar" icon="pi pi-search" iconPos="left"></p-button>
        </div>
    </div>

    <div class="p-grid" *ngIf="lancamentos.length">
        <div class="p-col-12">
            <p-table [value]="lancamentos" styleClass="p-datatable-sm p-datatable-striped" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Pessoa</th>
                        <th>Descrição</th>
                        <th class="col-data-header">Vencimento</th>
                        <th class="col-data-header">Pagamento</th>
                        <th class="col-valor-header">Valor</th>
                        <th class="col-acoes-header"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-lancamento>
                    <tr>
                        <td>{{ lancamento.pessoa }}</td>
                        <td>{{ lancamento.descricao }}</td>
                        <td class="col-data-content">{{ lancamento.dataVencimento }}</td>
                        <td class="col-data-content">{{ lancamento.dataPagamento }}</td>
                        <td class="col-valor-content">
                            <span [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">{{ lancamento.valor }}</span>
                        </td>
                        <td class="col-acoes">
                            <a pButton icon="pi pi-pencil"></a>
                            <p-button icon="pi pi-trash"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="p-col-12">
            <a pButton label="Novo Lançamento" icon="pi pi-plus" iconPos="left"></a>
        </div>
    </div>

</div>
